USE [Sales]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/31/2024 2:03:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Records]    Script Date: 5/31/2024 2:03:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Records](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Region] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[ItemType] [nvarchar](max) NULL,
	[SalesChannel] [nvarchar](max) NULL,
	[OrderPriority] [nvarchar](max) NULL,
	[OrderDate] [datetime2](7) NULL,
	[OrderID] [bigint] NULL,
	[ShipDate] [datetime2](7) NULL,
	[UnitsSold] [int] NULL,
	[UnitPrice] [decimal](18, 4) NULL,
	[UnitCost] [decimal](18, 4) NULL,
	[TotalRevenue] [decimal](18, 4) NULL,
	[TotalCost] [decimal](18, 4) NULL,
	[TotalProfit] [decimal](18, 4) NULL,
 CONSTRAINT [PK_Records] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240530014228_Initial', N'8.0.6')
GO
SET IDENTITY_INSERT [dbo].[Records] ON 

INSERT [dbo].[Records] ([Id], [Region], [Country], [ItemType], [SalesChannel], [OrderPriority], [OrderDate], [OrderID], [ShipDate], [UnitsSold], [UnitPrice], [UnitCost], [TotalRevenue], [TotalCost], [TotalProfit]) VALUES (1, N'Australia and Oceania', N'Tuvalu', N'Baby Food', N'Offline', N'H', CAST(N'2010-05-28T00:00:00.0000000' AS DateTime2), 669165933, CAST(N'2010-06-27T00:00:00.0000000' AS DateTime2), 9925, CAST(255.2800 AS Decimal(18, 4)), CAST(159.4200 AS Decimal(18, 4)), CAST(2533654.0000 AS Decimal(18, 4)), CAST(1582243.5000 AS Decimal(18, 4)), CAST(951410.5000 AS Decimal(18, 4)))
INSERT [dbo].[Records] ([Id], [Region], [Country], [ItemType], [SalesChannel], [OrderPriority], [OrderDate], [OrderID], [ShipDate], [UnitsSold], [UnitPrice], [UnitCost], [TotalRevenue], [TotalCost], [TotalProfit]) VALUES (2, N'Central America and the Caribbean', N'Grenada', N'Cereal', N'Online', N'C', CAST(N'2012-08-22T00:00:00.0000000' AS DateTime2), 963881480, CAST(N'2012-09-15T00:00:00.0000000' AS DateTime2), 2804, CAST(205.7000 AS Decimal(18, 4)), CAST(117.1100 AS Decimal(18, 4)), CAST(576782.8000 AS Decimal(18, 4)), CAST(328376.4400 AS Decimal(18, 4)), CAST(248406.3600 AS Decimal(18, 4)))
INSERT [dbo].[Records] ([Id], [Region], [Country], [ItemType], [SalesChannel], [OrderPriority], [OrderDate], [OrderID], [ShipDate], [UnitsSold], [UnitPrice], [UnitCost], [TotalRevenue], [TotalCost], [TotalProfit]) VALUES (3, N'Europe', N'Russia', N'Office Supplies', N'Offline', N'L', CAST(N'2014-05-02T00:00:00.0000000' AS DateTime2), 341417157, CAST(N'2014-05-08T00:00:00.0000000' AS DateTime2), 1779, CAST(651.2100 AS Decimal(18, 4)), CAST(524.9600 AS Decimal(18, 4)), CAST(1158502.5900 AS Decimal(18, 4)), CAST(933903.8400 AS Decimal(18, 4)), CAST(224598.7500 AS Decimal(18, 4)))
GO
SET IDENTITY_INSERT [dbo].[Records] OFF
GO
