@page
@model WD_ERECORD_CORE.Pages.DepartmentCode.DeleteModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Department Management";
}

<!--begin::Main-->
<!--begin::Header Mobile-->
<partial name="_PartialMobileHeader" />
<!--end::Header Mobile-->
<!--begin::Page-->
<!--begin::Aside-->
@await Component.InvokeAsync("Aside", new { current = "managenumberingscheme-department" })
<!--end::Aside-->
<!--begin::Wrapper-->
<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
    <!--begin::Header-->
    @await Component.InvokeAsync("Header", new { current = "Department Management" })
    <!--end::Header-->
    <!--begin::Content-->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Subheader-->
        <!--end::Subheader-->
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container-fluid">
                <!--begin::Form Management List-->
                <div class="card card-custom card-stretch">
                    <!--begin::Header-->
                    <div class="card-header">
                        <div class="card-title">
                            Delete Department
                        </div>
                        <div class="card-toolbar">

                        </div>
                    </div>
                    <!--end::Header-->
                    <!--begin::Body-->
                    <div class="card-body">
                        <!--begin::Notice-->
                        <div class="row">
                            <div class="col-lg-9 col-xl-6 offset-xl-3">
                                <div class="alert alert-custom alert-outline-2x alert-outline-danger fade show mb-5" role="alert">
                                    <div class="alert-icon"><i class="flaticon-warning"></i></div>
                                    <div class="alert-text">Are you sure want to delete this?</div>
                                </div>
                            </div>
                        </div>
                        <!--end::Notice-->
                        <div class="form-group">
                            <label asp-for="DepartmentList.DepartmentCode" class="control-label"></label>
                            <input asp-for="DepartmentList.DepartmentCode" class="form-control" disabled />
                        </div>
                        <div class="form-group">
                            <label asp-for="DepartmentList.DepartmentDescription" class="control-label"></label>
                            <input asp-for="DepartmentList.DepartmentDescription" class="form-control" disabled />
                        </div>
                    </div>
                    <form method="post">
                        <div class="card-footer">
                            <input type="hidden" asp-for="DepartmentList.Id" />
                            <a asp-page="Index" class="btn btn-light">Back</a>
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </div>
                    </form>
                    <!--end::Body-->
                </div>
                <!--end::Form Management List-->
                <!--end::Dashboard-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Entry-->
    </div>
    <!--end::Content-->
    <!--begin::Footer-->
    <partial name="_Footer" />
    <!--end::Footer-->
</div>
<!--end::Wrapper-->
<!--end::Page-->
<!--end::Main-->