@page
@model WD_ERECORD_CORE.Pages.Log.EmailNotificationModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Email Notification Detail";
}

<!--begin::Main-->
<!--begin::Header Mobile-->
<partial name="_PartialMobileHeader" />
<!--end::Header Mobile-->
<!--begin::Page-->
<!--begin::Aside-->
@await Component.InvokeAsync("Aside", new { current = "email-log" })
<!--end::Aside-->
<!--begin::Wrapper-->
<div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
    <!--begin::Header-->
    @await Component.InvokeAsync("Header", new { current = "Email Notification Detail" })
    <!--end::Header-->
    <!--begin::Content-->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <!--begin::Subheader-->
        <!--end::Subheader-->
        <!--begin::Entry-->
        <div class="d-flex flex-column-fluid">
            <!--begin::Container-->
            <div class="container-fluid">
                <!--begin::Form Management List-->
                <div class="card card-custom card-stretch">
                    <!--begin::Body-->
                    <div class="card-body">
                        <!--begin: Search Form-->
                        <form class="mb-15">
                            <div class="row mb-8">
                                <div class="col-lg-4 mb-lg-0 mb-6">
                                    <label>Start Date:</label>
                                    <div class="input-daterange input-group" id="startdate-datepicker">
                                        <input type="text" class="form-control datatable-input" name="start" placeholder="Start Date" data-col-index="0" />
                                    </div>
                                </div>
                                <div class="col-lg-4 mb-lg-0 mb-6">
                                    <label>End Date:</label>
                                    <div class="input-daterange input-group" id="enddate-datepicker">
                                        <input type="text" class="form-control datatable-input" name="start" placeholder="End Date" data-col-index="1" />
                                    </div>
                                </div>
                                <div class="col-lg-4 mb-lg-0 mb-6">
                                    <label>Export Action:</label>
                                    <button class="btn btn-primary d-block" id="export_table">Export Table</button>
                                </div>
                            </div>
                            <div class="row mt-8">
                                <div class="col-lg-12">
                                    <button class="btn btn-primary btn-primary--icon" id="kt_search">
                                        <span>
                                            <i class="la la-search"></i>
                                            <span>Search</span>
                                        </span>
                                    </button>&#160;&#160;
                                    <button class="btn btn-secondary btn-secondary--icon" id="kt_reset">
                                        <span>
                                            <i class="la la-close"></i>
                                            <span>Reset</span>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </form>
                        <!--end: Search Form-->
                        <!--begin: Datatable-->
                        <table class="table table-bordered table-hover table-checkable" id="log-email_datatable" style="margin-top: 13px !important">
                            <thead>
                                <tr>

                                    <th>Date Time</th>
                                    <th>Log Detail</th>

                                </tr>
                            </thead>
                        </table>
                        <!--end: Datatable-->
                    </div>
                    <!--end::Body-->
                </div>
                <!--end::Form Management List-->
                <!--end::Dashboard-->
            </div>
            <!--end::Container-->
        </div>
        <!--end::Entry-->
    </div>
    <!--end::Content-->
    <!--begin::Footer-->
    <partial name="_Footer" />
    <!--end::Footer-->
</div>
<!--end::Wrapper-->
<!--end::Page-->
<!--end::Main-->

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/assets/js/scripts.bundle.js"></script>
<script src="~/assets/plugins/custom/datatables/datatables.bundle.js"></script>

<script type='text/javascript'>
    var DataTableAdvancedSearch = function () {
        var initDataTable = function () {
            var table = $("#log-email_datatable").DataTable({
                stateSave: true,
                processing: true,
                serverSide: true,
                paging: true,
                responsive: true,
                searching: { regex: true },
                lengthMenu: [10, 25, 50, 100, 500, 1000, 2500, 5000],
                dom: `<'row'<'col-sm-12'tr>>
                    <'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 dataTables_pager'lp>>`,
                buttons: [{
                    extend: 'csvHtml5',
                    text: 'Export Excel',
                    title: 'Email Notification',
                    exportOptions: {
                        modifier: {
                            page: 'current'
                        }
                    }
                }],
                language: {
                    'lengthMenu': 'Display _MENU_',
                },
                ajax: {
                    url: "@Url.Action("LoadPublicLogEmailNotificationTable", "DataTable")",
                    type: "POST",
                    contentType: "application/json",
                    dataType: "json",
                    data: function (d) {
                        return JSON.stringify(d);
                    }
                },
                columns: [
                    { data: "dateTime" },
                    { data: "logDetail" },
                ],
                columnDefs: [
                    {
                        targets: 0,
                        render: function (data) {
                            return (moment(data).isValid()) ? moment(data).format("DD MMM YY, h:mm:ss a") : "Not Available";
                        }
                    },
                ]
            });

            var filter = function () {
                var val = $.fn.dataTable.util.escapeRegex($(this).val());
                table.column($(this).data('col-index')).search(val ? val : '', false, false).draw();
            };

            var asdasd = function (value, index) {
                var val = $.fn.dataTable.util.escapeRegex(value);
                table.column(index).search(val ? val : '', false, true);
            };

            $('#kt_search').on('click', function (e) {
                e.preventDefault();
                var params = {};
                $('.datatable-input').each(function () {
                    var i = $(this).data('col-index');
                    if (params[i]) {
                        params[i] += '|' + $(this).val();
                    }
                    else {
                        params[i] = $(this).val();
                    }
                });
                $.each(params, function (i, val) {
                    table.column(i).search(val ? val : '', false, false);
                });
                table.table().draw();
            });

            $('#kt_reset').on('click', function (e) {
                e.preventDefault();
                $('.datatable-input').each(function () {
                    $(this).val('');
                    table.column($(this).data('col-index')).search('', false, false);
                });
                table.table().draw();
            });

            $('#startdate-datepicker').datepicker({
                todayHighlight: true,
                templates: {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>',
                }
            });

            $('#enddate-datepicker').datepicker({
                todayHighlight: true,
                templates: {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>',
                }
            });

            $('#export_table').on('click', function (e) {
                e.preventDefault();
                table.button(0).trigger();
            });

            $("form").keypress(function (e) {
                if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
                    $('#kt_search').trigger("click");
                    return false;
                }
                else {
                    return true;
                }
            });
        };

        return {
            init: function () {
                initDataTable();
            }
        };
    }();

    jQuery(document).ready(function () {
        DataTableAdvancedSearch.init();
    });
</script>