<div class="footer bg-white py-4 d-flex flex-lg-column" id="kt_footer">
    <!--begin::Container-->
    <div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
        <!--begin::Copyright-->
        <div class="text-dark order-3 order-md-3">
            <span class="text-muted font-weight-bold mr-2">@DateTime.Now.Year</span>
            <a href="#" class="text-dark-75 text-hover-primary">Western Digital</a>
        </div>
        <!--end::Copyright-->
        <div class="text-dark order-2 order-md-2">
            <p>Version 1.0.0.4</p>
        </div>
        <!--begin::Nav-->
        <div class="nav nav-dark order-1 order-md-1">
            <!--begin::Languages-->
            <div class="dropdown">
                <!--begin::Toggle-->
                <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
                    <div class="btn btn-icon btn-clean btn-dropdown btn-lg mr-1">
                        <img class="h-20px w-20px rounded-sm" src="~/assets/media/svg/flags/260-united-kingdom.svg" alt="" />
                    </div>
                </div>
                <!--end::Toggle-->
                <!--begin::Dropdown-->
                <div class="dropdown-menu p-0 m-0 dropdown-menu-anim-up dropdown-menu-sm dropdown-menu-left">
                    <!--begin::Nav-->
                    <ul class="navi navi-hover py-4">
                        <!--begin::Item-->
                        <li class="navi-item">
                            <a href="javascript:;" class="navi-link">
                                <span class="symbol symbol-20 mr-3">
                                    <img src="~/assets/media/svg/flags/260-united-kingdom.svg" alt="" />
                                </span>
                                <span class="navi-text">English</span>
                            </a>
                        </li>
                        <!--end::Item-->
                        <!--begin::Item-->
                        <li class="navi-item">
                            <a href="javascript:;" class="navi-link">
                                <span class="symbol symbol-20 mr-3">
                                    <img src="~/assets/media/svg/flags/007-malasya.svg" alt="" />
                                </span>
                                <span class="navi-text">Bahasa Malaysia</span>
                            </a>
                        </li>
                        <!--end::Item-->
                    </ul>
                    <!--end::Nav-->
                </div>
                <!--end::Dropdown-->
            </div>
            <!--end::Languages-->
        </div>
        <!--end::Nav-->
    </div>
    <!--end::Container-->
</div>