.event-group-a {
    background: rgb(39, 154, 199);
}
  
.event-group-b {
    background: rgb(171, 163, 10);
}

.event-group-c {
    background: rgb(148, 0, 37);
}

.event-group-d {
    background: rgba(241, 244, 18, 0.5);
}
